<div class="collection {{ class }}">
  <header>
    <h1><a href="/{{ collection.attributes.slug }}">{{ collection.attributes.name }}</a></h1>
  </header>
  <div class="collection-body">
    {% for article in articles %}
      {% render 'article', article: article %}
    {% endfor %}
  </div>
</div>
