@font-face {
	font-family: "onffc";
	src: url("/fonts/onffc.woff")
}

* {box-sizing: border-box;}

html {
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'EB Garamond', serif;
	margin: 0 0 0 0.5rem;

	text-align: justify;
	hyphens: auto;
	-webkit-hyphens: auto;
}

.center {
	margin: 0 auto;
}

.container {
	max-width: 40rem;
}

h1 {
	font-family: onffc, serif;
	font-size: min(4rem, calc(4vw + 1rem));
	font-weight: normal;

	line-height: 1;
	margin: 0 0 1rem;
}

a {
	color: #c51600;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	font-weight: 800;
}

body > header {
	color: white;
	background-color: black;
	margin: 0 0 .5rem -.5rem;
	padding-left: .25rem;
}

body > header h1 {
	font-family: 'Mrs Sheppards', cursive;
	font-size: min(5rem, calc(6vw + 1rem));
	margin: 0 0 -0.25rem;
}

body > header h1 a {
	color: inherit;
}

body > header h1 a:hover {
	text-decoration: none;
}

body > header h1 .site-byline {
	font-family: onffc, serif;
	font-size: calc(1vw + .7rem);
	margin-left: max(-0.5rem, -1vw);
}

.collection header h1, h1.collection-name {
	margin: 0 0;
}

article {
	margin-right: 0.5em;
}

article h1 {
	font-size: min(3rem, calc(2vw + 1rem));
	margin-bottom: 0;
}

article .metadata {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	font-size: calc(0.15vw + 0.75rem);
	color: #444;
	margin-top: 0;
}

article img {
	max-width: 100%;
}

p {
	font-size: min(3rem, calc(0.2vw + 1rem));
	line-height: 1.3;
}

.left {
	float: left;
}

.right {
	float: right;
}

.right-align {
	text-align: right;
}

.third {
	width: 33%;
}

.third.left {
	margin-right: 1em;
}

.third.right {
	margin-left: 1em;
}

figure {
	background-color: #242424;
	color: white;
	padding: 0em 0em 0.5em 0em;
	margin: 0;
}

figure figcaption {
	padding: 0em 0.75em;
}

.collections .collection {
	margin-bottom: 1rem;
	overflow-y: hidden;
	height: 100lvh;
}

.collections .collection header h1 {
	position: sticky;
}

.collections .collection .collection-body {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}

.collections .collection .collection-body article {
	flex-shrink: 0;
	width: calc(100vw - 2.5rem);
	scroll-snap-align: start;
	margin-right: 1rem;
}

@media screen and (min-height: 500px) {
	.collections .collection {
		overflow-y: hidden;
		height: calc(100vh / 1.25 - (4vw + 1rem));
	}
}

@media screen and (min-height: 1000px) {
	.collections .collection {
		height: calc(100vh / 2 - (4vw + 1rem));
	}
}

@media screen and (min-height: 1500px) {
	.collections .collection {
		height: calc(100vh / 3 - (4vw + 1rem));
	}
}

@media screen and (min-height: 2000px) {
	.collections .collection {
		height: calc(100vh / 4 - (4vw + 1rem));
	}
}

@media screen and (min-width: 580px) {
	.collections .collection .collection-body article {
		width: calc(100vw / 2 - 1.5rem);
	}
}

@media screen and (min-width: 1024px) {
	.collections .collection .collection-body article {
		width: calc(100vw / 3 - 1.5rem);
	}
}

@media screen and (min-width: 1460px) {
	.collections .collection .collection-body article {
		width: 30rem;
	}
}
