header h1 {
	text-align: center;
}

.collections {
	display: grid;
	grid-template-columns: repeat(4, calc(100%/1));
}

@media screen and (min-width: 640px) {
	.collections {
		grid-template-columns: repeat(4, calc(100%/2));
	}
}

@media screen and (min-width: 1028px) {
	.collections {
		grid-template-columns: repeat(4, calc(100%/3));
	}
}

@media screen and (min-width: 1280px) {
	.collections {
		grid-template-columns: repeat(4, min(calc(100%/4), 420px));
	}
}
