:root {
	--h1-font-size: min(5rem, calc(5vw + 1.5rem));
	--collection-article-margin-right: 2rem;
	--collection-article-margin-bottom: 1rem;
	--header-h1-font-size: min(5rem, calc(6vw + 1rem));
	--header-margin: 2rem;
	--body-margin: 1rem;
	--article-h1-font-size: min(3rem, calc(3.5vw + 1rem));
	--article-h2-font-size: min(2rem, calc(2vw + 1rem));
	--h1-font-family: onffc, -apple-system-ui-serif, ui-serif, serif;
	--h1-font-weight: normal;
	--hover-accent-color: hsl(36 100% 50%);
	--accent-color: hsl(200 67% 54%);
	--body-background-color: #fff;
	--body-color: hsl(300 1% 13%);
	--metadata-color: #666;
	--h1-line-height: 1;
	--container-width: 40rem;
	--code-background-light: #f8f8f8;
	--code-background-dark: #23241f;
}

@font-face {
	font-family: "onffc";
	src: url("/fonts/onffc.woff");
	font-display: block;
}

* {box-sizing: border-box;}

html {
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: var(--body-background-color);
	color: var(--body-color);
	font-family: -apple-system-ui-serif, ui-serif, serif;
	margin: 0 0 0 var(--body-margin);

	text-align: justify;
	hyphens: auto;
	-webkit-hyphens: auto;
}

.center {
	margin: 0 auto;
}

.container {
	max-width: var(--container-width);
}

h1 {
	font-family: var(--h1-font-family), serif;
	font-size: var(--h1-font-size);
	font-weight: var(--h1-font-weight);

	line-height: var(--h1-line-height);
	margin: 0 0 1rem;
}

h1.collection-name {
	font-size: min(1rem, calc(2vw + .5rem));
}

img.rss {
	width: calc(.4vw + .6rem);
	height: calc(.4vw + .6rem);

	body > header & {
		filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
		margin-left: .25rem;
	}
}

.collection header {
	& h1 {
		display: flex;
	}

	& img.rss {
		filter: invert(71%) sepia(59%) saturate(3530%) hue-rotate(170deg) brightness(91%) contrast(85%);
		margin-left: .25rem;

		&:hover {
			filter: invert(70%) sepia(51%) saturate(3885%) hue-rotate(358deg) brightness(99%) contrast(109%);
		}
	}
}

a {
	color: var(--accent-color);
	text-decoration: none;

	p & {
		color: var(--accent-color);
	}

	&:hover {
		color: var(--hover-accent-color)
	}
}

h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	font-weight: 800;
	letter-spacing: -0.02em;
}

body > header {
	background-color: var(--accent-color);
	margin: 0 0 var(--header-margin) calc(0rem - var(--body-margin));
	padding-left: calc(var(--body-margin) - .25rem);

	&, & a:hover {
		color: var(--body-background-color)
	}

	& h1 {
		display: flex;
		align-items: baseline;
		font-family: 'Mrs Sheppards', cursive;
		font-size: var(--header-h1-font-size);
		margin: 0 0 -0.25rem;
	}

	& h1 a {
		color: inherit;
	}

	& h1 a:hover {
		text-decoration: none;
	}

	& h1 .site-byline {
		font-family: var(--h1-font-family), serif;
		font-size: calc(1vw + .7rem);
		margin-left: min(0.75rem, 2vw);
	}
}

.collection header h1, h1.collection-name {
	margin: 0 0;
}

article {
	margin-right: var(--body-margin);
}

article h1, article h2, article h3, article h4, article h5, article h6 {
	margin-block-end: 0;

	& code {
		font-size: inherit;
		padding: .125em .25em;
		border-radius: .25em;
		background-color: var(--code-background-light);
	}
}

article h2, article h3, article h4, article h5, article h6 {
	text-align: left;
}

article h2 + p, article h2 + ul,
article h3 + p, article h3 + ul,
article h4 + p, article h4 + ul,
article h5 + p, article h5 + ul,
article h6 + p, article h6 + ul
{
	margin-block-start: .5rem;
}

article h1 {
	font-size: var(--article-h1-font-size);
}

article h2 {
	font-size: var(--article-h2-font-size);
}

article .metadata {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	font-size: calc(0.15vw + 0.75rem);
	color: var(--metadata-color);
	margin-top: 0;
}

article img {
	max-width: 100%;
}

p, ul, ol {
	font-size: 1.12rem;
	line-height: 1.4;
}

pre, code {
	font-family: ui-monospace, monospace;
	font-size: initial;
}

p > code {
	background-color: var(--code-background-light);
	padding: 3px 5px;
	border-radius: 5px;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	hyphens: none;
	text-align: left;
	tab-size: 2;

	& code {
		border-radius: calc(var(--body-margin)/2);
		margin: 0 calc(var(--body-margin)/-2);
		padding: calc(var(--body-margin)/2) !important;
	}
}

blockquote {
	margin: 1rem 0 1rem .5rem;
	border-left: 2px #ddd solid;
	padding: .5rem 0 .5rem 1rem;

	& > *:first-child {
		margin-top: 0;
	}
	&> *:last-child {
		margin-bottom: 0;
	}
}

sup {
	font-size: .8rem;
	line-height: 1
}

hr {
	border-style: solid;
	border-color: var(--body-color);
	border-width: 1px 0 0 0;
}

ul.tags {
	padding: 0;

	& li {
		display: inline;

		&::before {
			content: '#';
			color: #999;
		}
	}
}

.pagination {
	text-align: center;
	margin: 0 0 1rem 0;
}

.left {
	float: left;
	margin-right: 1em;
}

.right {
	float: right;
	margin-left: 1em;
}

.right-align {
	text-align: right;
}

.third {
	width: 40%;
}

figure {
	background-color: hsl(0, 0%, 88%);
	color: var(--body-color);
	margin: 0;

	& img {
		width: 100%;
	}
}

figure, p {
	margin-block-start: 1rem;
}

figure figcaption {
	padding: 0.25em 0.75em 0.5em;
}

.grid-gallery {
	--grid-gallery-columns: 2;
	display: grid;
	grid-template-columns: repeat(var(--grid-gallery-columns), 1fr);
	column-gap: .67rem;
	margin-block-start: 1rem;
	align-items: end;
	width: calc(100vw - 2*var(--body-margin));
	margin-left: initial;

	& figure {
		margin-block-start: .67rem;
	}

	& > a {
		margin-block-start: .67rem;
		line-height: 0;
	}

	.collection-body & {
		width: initial;
		margin-left: initial;
		--grid-gallery-columns: 1;
	}
}

.collection-body {
	display: flex;
	--vertical-scroll-hint: 3rem;
	--collection-rows: 1;
}

.collection-body article {
	--collection-columns: 1;

	width: calc((100vw - var(--horizontal-scroll-hint)) / var(--collection-columns) - var(--collection-article-margin-right) - 1px);
	overflow-y: hidden;
	margin-right: var(--collection-article-margin-right);
	margin-bottom: var(--collection-article-margin-bottom);
	position: relative;

	&:after {
		content: "";
		height: 6rem;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(
			to bottom, hsla(0, 4%, 100%, 0%), hsla(0, 4%, 100%, 100%)
		);
		pointer-events: none;
	}

	& * {
		max-width: 100%;
	}
}

.plural.collection .collection-body nav.more {
	font-family: var(--h1-font-family);
  font-size: var(--article-h1-font-size);
	font-weight: var(--h1-font-weight);
	line-height: var(--h1-line-height);

	writing-mode: vertical-rl;
	text-orientation: sideways;
	text-align: right;

	height: 100%;
	margin-right: var(--collection-article-margin-right);
	margin-bottom: var(--collection-article-margin-bottom);
}

.single.collection .collection-body nav.more {
	display: none;
}

.plural.collection .collection-body {
	flex-wrap: nowrap;
	flex-direction: row;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}

.plural.collection .collection-body article {
	--horizontal-scroll-hint: calc(1.5rem + var(--body-margin));

	height: 100svh;
	flex-shrink: 0;
	scroll-snap-align: start;
}

.single.collection .collection-body {
	flex-wrap: wrap;
}

.single.collection .collection-body article {
	--horizontal-scroll-hint: var(--body-margin);
	--collection-article-margin-bottom: 1rem;

	height: 100svh;
}

@media screen and (min-height: 500px) {
	.plural.collection .collection-body {
		& article {
			height: calc((100svh - var(--header-h1-font-size) - var(--vertical-scroll-hint)) / var(--collection-rows) - var(--body-margin) - var(--h1-font-size) - var(--collection-article-margin-bottom));
		}

		& nav.more {
			height: calc((100svh - var(--header-h1-font-size) - var(--vertical-scroll-hint)) / var(--collection-rows) - var(--body-margin) - var(--h1-font-size) - var(--collection-article-margin-bottom));
		}
	}

	.single.collection .collection-body article {
		height: calc((100svh - var(--header-h1-font-size) - var(--vertical-scroll-hint) - var(--h1-font-size)) / var(--collection-rows) - var(--collection-article-margin-bottom));
	}
}

@media screen and (min-height: 900px) {
	.collection-body {
		--collection-rows: 2;
	}
}

@media screen and (min-height: 1500px) {
	.collection-body {
		--collection-rows: 3;
	}
}

@media screen and (min-height: 2000px) {
	.collection-body {
		--collection-rows: 4;
	}
}

@media screen and (min-width: 580px) {
	.collection-body article {
		--collection-columns: 2;
	}

	.third {
		width: 33%;
	}

	.grid-gallery {
		--grid-gallery-columns: 3;
	}
}

@media screen and (min-width: 1024px) {
	.collection-body article {
		--collection-columns: 3;
	}

	.container {
		& article {
			position: relative;
		}

		& .right, & .left {
			position: absolute;
			max-width: calc(50vw - var(--container-width) / 2 - var(--body-margin) * 1.5);
		}

		& .third {
			width: 66%;
		}

		& .right {
			left: var(--container-width);
			margin-left: 0;
		}

		& .left {
			right: var(--container-width);
			margin-right: 0;
		}
	}

	.grid-gallery {
		--grid-gallery-columns: 4;
	}
}

@media screen and (min-width: 1518px) {
	.collection-body article {
		width: 30rem;
	}

	.grid-gallery {
		--grid-gallery-columns: 5;
	}
}

/* 41rem is container-width + body-margin */
@media screen and (min-width: 41rem) {
	.grid-gallery {
		margin-left: calc(-1 * (100vw - var(--container-width) - var(--body-margin))/2);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		--body-background-color: black;
		--body-color: white;
		--accent-color: hsl(36 100% 50%);
		--hover-accent-color: hsl(200 67% 50%);
		--metadata-color: #ccc;
	}

	body > header img.rss {
		filter: invert(0%) sepia(100%) saturate(29%) hue-rotate(250deg) brightness(104%) contrast(102%);
	}

	.collection header img.rss {
		filter: invert(70%) sepia(51%) saturate(3885%) hue-rotate(358deg) brightness(99%) contrast(109%);

		&:hover {
			filter: invert(47%) sepia(77%) saturate(473%) hue-rotate(155deg) brightness(100%) contrast(90%);
		}
	}

	figure {
		background-color: hsl(0, 0%, 18%);
	}

	article h1, article h2, article h3, article h4, article h5, article h6 {
		& code {
			background-color: var(--code-background-dark);
		}
	}

	p > code {
		background-color: var(--code-background-dark);
	}

	blockquote {
		border-color: #555;
	}

	.collection-body article:after {
		background-image: linear-gradient(
			to bottom, hsla(0, 0%, 0%, 0%), hsla(0, 0%, 0%, 100%)
		);
	}
}
