---
layout: "main.liquid"
page_title: Home
---
<div class="collections">
	{% for collection in index.data %}
		<div class="collection">
			<header>
				<h1>{{ collection.attributes.name }}</h1>
			</header>
			<div class="collection-body">
				{% for article in collection.attributes.articles.data %}
          {% render 'article', article: article %}
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>

